
/* 제목 스타일 */
h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
}

/* 폼 스타일 */
form {
    margin-top: 10px;
}

/* 입력 요소 스타일 */
label {
    width: 400px;
    font-weight: bold;
    margin-bottom: 5px;
}
table{
    width: 97%;
}
table input[type="text"],
table input[type="email"],
table input[type="url"],
table input[type="tel"],
table input[type="date"],
table input[type="number"],
table textarea,
table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 15px;
}

/* 버튼 스타일 */
button[type="submit"] {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}