<!-- /templates/inbound/manage/inbound-task.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/base}">

<head>
    <title layout:title-content="입고 작업">입고 작업</title>
    <link rel="stylesheet" th:href="@{/css/customize.css}">
</head>

<body>
<div layout:fragment="title">입고 작업</div>
<div layout:fragment="breadcrumb">입고 관리 / 입고 작업</div>

<!-- 검색 조건 부분만 오버라이드 -->
<div layout:fragment="search-body">
    <div class="row">
        <div class="col-md-1"><label>옵션</label></div>
        <div class="col-md-11">
            <div class="row  mb-3">

                <div class="col-md-3">
                    <label class="required" for="searchInboundDate">입고 일자</label>
                    <div class="input-group date" id="searchInboundDate">
                        <input type="text"
                               class="form-control form-control-sm"
                               id="searchDateRange"
                               name="searchDateRange"
                               placeholder="날짜 범위 선택" autocomplete="off" required data-search/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label>입고 번호</label>
                    <input type="text" class="form-control form-control-sm" id="searchInboundNo" name="searchInboundNo"
                           placeholder="입고 번호" data-search>
                </div>

                <div class="col-md-3">
                    <label>거래처 코드</label>
                    <input type="text" class="form-control form-control-sm" id="searchCustomerCode"
                           name="searchCustomerCode" placeholder="거래처 코드" data-search>
                </div>
                <div class="col-md-3">
                    <label>거래처 명</label>
                    <input type="text" class="form-control form-control-sm" id="searchCustomerName"
                           name="searchCustomerName" placeholder="거래처 명" data-search>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="button-right">
    <button type="button" class="btn btn-success btn-sm" id="btnInboundRegister">
        <i class="fas fa-floppy-disk mr-1"></i> 입고 등록
    </button>
    <button type="button" class="btn btn-primary btn-sm" id="btnInboundUpdate">
        <i class="fas fa-edit mr-1"></i> 입고 수정
    </button>
    <button type="button" class="btn btn-danger btn-sm" id="btnInboundDelete">
        <i class="fas fa-trash-alt mr-1"></i> 입고 삭제
    </button>
</div>

<!-- 그리드 콘텐츠 -->
<div layout:fragment="content-body">
    <div class="card card-outline card-info">
        <div id="inboundList" style="width: 100%; height: 350px;"></div>
    </div>

    <div class="card card-outline card-info">
        <div id="inboundDetailList" style="width: 100%; height: 680px;"></div>
    </div>
    <div id="modal-inbound-form-container"></div>

    <div id="modal-customer-search-container"></div>
    <div id="modal-item-search-container"></div>
</div>

<div layout:fragment="scripts">
    <script type="module" src="/js/inbound/manage/inbound-task-grid.js"></script>
    <script type="module" src="/js/inbound/manage/inbound-task.js"></script>
    <script type="module" th:src="@{/js/inbound/manage/inbound-form-modal.js}"></script>
</div>


</body>
</html>