<!-- /templates/system/menu/menu-manage.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/base}">

<head>
    <title layout:title-content="사용자 관리">사용자 관리</title>
    <link rel="stylesheet" th:href="@{/css/customize.css}">
</head>

<body>
<div layout:fragment="title">사용자 관리</div>
<div layout:fragment="breadcrumb">사용자 관리</div>

<div layout:fragment="search-body">
    <div class="row">
        <div class="col-md-1"><label>옵션</label></div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3">
                    <label>로그인 ID</label>
                    <input type="text" class="form-control form-control-sm" id="searchLoginId" data-search autocomplete="off">
                </div>
                <div class="col-md-3">
                    <label>사용자 명</label>
                    <input type="text" class="form-control form-control-sm" id="searchUserName" data-search autocomplete="off">
                </div>
                <div class="col-md-3">
                    <label>사용 여부</label>
                    <select class="form-control form-control-sm" id="searchUseYn" data-search>
                        <option value="">전체</option>
                        <option value="Y">사용</option>
                        <option value="N">미사용</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="button-right">
    <button type="button" class="btn-sm btn-info" id="btnUserRegister">
        <i class="fas fa-plus"></i> 사용자 등록
    </button>
</div>

<div layout:fragment="content-body">
    <div class="card card-outline card-info">
               <div id="userList" style="width: 100%; height: 650px;"></div>
       </div>

    <div id="modal-user-container"></div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/system/user/user-manage.js}" type="module"></script>
    <script th:src="@{/js/system/user/user-manage-grid.js}" type="module"></script>
    <script th:src="@{/js/system/user/user-form-modal.js}" type="module" ></script>
</div>

</body>
</html>